In [1]:
a = input("a = ")

a = 87

In [2]:
a

'87'

輸入的東西電腦會認為是字串

## 匯率換算

In [3]:
m = input("美金價格： ")

美金價格： 120

In [4]:
m

'120'

In [5]:
m * 30.5

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
float(m) * 30.5

3660.0

把字串變成浮點數

In [7]:
m = input("美金價格： ")
twd = float(m) * 30.5
print(twd)

美金價格： 128
3904.0

In [8]:
twd

3904.0

In [9]:
"合台幣" + twd + "元"

TypeError: must be str, not float

In [10]:
"合台幣" + str(twd) + "元"

'合台幣3904.0元'

數字換成字串

In [11]:
m = input("美金價格： ")
twd = float(m) * 30.5
print("合台幣" + str(twd) + "元")

美金價格： 300
合台幣9150.0元

## 拍拍機器人

In [12]:
message = input(">> ")
print("拍拍")

>> 今天很難過。
拍拍

無法連續輸入