In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.DataFrame(np.random.randn(5, 3), 
                  index=list(range(1, 6)), 
                  columns=list("ABC"))

In [6]:
df

          A         B         C
1 -0.659423  1.755927 -0.567206
2  0.867123 -0.805890 -2.885651
3 -0.035518 -0.217247  0.195452
4 -0.749797 -0.469791  1.406588
5  1.247077  0.484588  0.441998

In [7]:
df[df.B>0]

          A         B         C
1 -0.659423  1.755927 -0.567206
5  1.247077  0.484588  0.441998

In [8]:
df[df.B>0]["C"]=0

C:\Users\S400CA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df

          A         B         C
1 -0.659423  1.755927 -0.567206
2  0.867123 -0.805890 -2.885651
3 -0.035518 -0.217247  0.195452
4 -0.749797 -0.469791  1.406588
5  1.247077  0.484588  0.441998

In [10]:
df.loc[2:3, "B":"C"]

          B         C
2 -0.805890 -2.885651
3 -0.217247  0.195452

In [11]:
df.loc[2, "B"]

-0.805889828290012

In [12]:
df.loc[2, "B"]=1

In [13]:
df

          A         B         C
1 -0.659423  1.755927 -0.567206
2  0.867123  1.000000 -2.885651
3 -0.035518 -0.217247  0.195452
4 -0.749797 -0.469791  1.406588
5  1.247077  0.484588  0.441998

In [14]:
df.loc[df.B>0, "C"]=0

In [15]:
df

          A         B         C
1 -0.659423  1.755927  0.000000
2  0.867123  1.000000  0.000000
3 -0.035518 -0.217247  0.195452
4 -0.749797 -0.469791  1.406588
5  1.247077  0.484588  0.000000