In [647]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [648]:
%env KERAS_BACKEND = tensorflow

from keras.models import Model
from keras.layers import Input
from keras.layers import Dense, Activation, Flatten
from keras.layers import LSTM
from keras.layers import Dropout
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from keras.layers import concatenate

env: KERAS_BACKEND=tensorflow

In [649]:
df=pd.read_excel("全球.xlsx",header=0)
df.head()

          日期      智利      英國       德國      香港恆生       印度       台灣  漲跌平
0 1997-01-04  929.57  4089.5  2859.28  13222.79  3264.00  6820.35   -1
1 1997-01-06  952.55  4106.5  2881.32  13443.93  3252.31  6844.75    0
2 1997-01-07  966.00  4078.8  2886.13  13420.16  3264.12  6875.02    0
3 1997-01-08  982.01  4087.5  2906.34  13454.93  3288.88  7019.43    1
4 1997-01-09  973.31  4087.0  2892.63  13198.11  3362.39  7010.76    0

In [650]:
len(df)

5637

In [651]:
#讀入標準化過後的資料
x1=df[['智利','英國','德國','香港恆生','印度','台灣']]
y1=df[['漲跌平']]
x1.head()

       智利      英國       德國      香港恆生       印度       台灣
0  929.57  4089.5  2859.28  13222.79  3264.00  6820.35
1  952.55  4106.5  2881.32  13443.93  3252.31  6844.75
2  966.00  4078.8  2886.13  13420.16  3264.12  6875.02
3  982.01  4087.5  2906.34  13454.93  3288.88  7019.43
4  973.31  4087.0  2892.63  13198.11  3362.39  7010.76

In [652]:
n = 3
a=np.array(df[['智利']])
b=np.array(df[['英國']])
c=np.array(df[['德國']])
d=np.array(df[['香港恆生']])
e=np.array(df[['印度']])
f=np.array(df[['台灣']])
y2 =np.array(df[['漲跌平']])


df
for i in range(len(a)):
    a[i] = (a[i] - a.min())/(a.max() - a.min())
    b[i] = (b[i] - b.min())/(b.max() - b.min())
    c[i] = (c[i] - c.min())/(c.max() - c.min())
    d[i] = (d[i] - d.min())/(d.max() - d.min())
    e[i] = (e[i] - e.min())/(e.max() - e.min())
    f[i] = (f[i] - f.min())/(f.max() - f.min())

an = 5637

In [653]:
a_train, a_test, y_train, y_test = train_test_split(a, y2, test_size=0.2, random_state = 1234)
b_train, b_test, y_train, y_test = train_test_split(b, y2, test_size=0.2, random_state = 1234)
c_train, c_test, y_train, y_test = train_test_split(c, y2, test_size=0.2, random_state = 1234)
d_train, d_test, y_train, y_test = train_test_split(d, y2, test_size=0.2, random_state = 1234)
e_train, e_test, y_train, y_test = train_test_split(e, y2, test_size=0.2, random_state = 1234)
f_train, f_test, y_train, y_test = train_test_split(e, y2, test_size=0.2, random_state = 1234)
print(a_train)

a_train=a_train.reshape(1,4509,)
b_train=b_train.reshape(1,4509,1)
c_train=c_train.reshape(1,4509,1)
d_train=d_train.reshape(1,4509,1)
e_train=e_train.reshape(1,4509,1)
f_train=f_train.reshape(1,4509,1)
y_train=y_train.reshape(1,4509,1)


a_test=a_test.reshape(1,1128,1)
b_test=b_test.reshape(1,1128,1)
c_test=c_test.reshape(1,1128,1)
d_test=d_test.reshape(1,1128,1)
f_test=f_test.reshape(1,1128,1)
y_test=y_test.reshape(1,1128,1)
print(a_test.shape)

[[0.18026149]
 [0.17260725]
 [0.21384765]
 ...
 [0.20169201]
 [0.16681683]
 [0.47473638]]
(1, 1128, 1)

In [654]:
y_train = np_utils.to_categorical(y_train,10)
y_test = np_utils.to_categorical(y_test,10)

In [655]:
f1 = Dense(10, activation='selu')
g1 = Dense(100, activation='selu')
j1 = Dense(100, activation='selu')
k1 = Dense(100, activation='selu')
m1 = Dense(100, activation='selu')
r1 = Dense(100, activation='selu')
f2 = LSTM(25, return_sequences=True)
f3 = Dropout(0.2)
f4 = Dense(40, activation='relu')
f5 = Dense(10, activation='softmax')
f7 = Dense(10, activation="relu")
f6 = LSTM(25, return_sequences=True)
f8 = Flatten()


a0 = Input(shape=(4509,1))
b0 = Input(shape=(4509,1))
c0 = Input(shape=(4509,1))
d0 = Input(shape=(4509,1))
e0 = Input(shape=(4509,1))
ff0 = Input(shape=(4509,1))

a1 = f1(a0)
b1 = g1(b0)
c1 = j1(c0)
d1 = k1(d0)
e1 = m1(e0)
ff1 = r1(ff0)

u1 = concatenate([a1,b1,c1,d1,e1,ff1])
all_1 = f2(u1)
all_2 = f3(all_1)
all_3 = f4(all_2)
all_4 = f5(all_3)
all_5  = f6(all_4)
y0  = f7(all_5)



model = Model([a0,b0,c0,d0,e0,ff0], y0)
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_768 (InputLayer)          (None, 4509, 1)      0
__________________________________________________________________________________________________
input_769 (InputLayer)          (None, 4509, 1)      0
__________________________________________________________________________________________________
input_770 (InputLayer)          (None, 4509, 1)      0
__________________________________________________________________________________________________
input_771 (InputLayer)          (None, 4509, 1)      0
__________________________________________________________________________________________________
input_772 (InputLayer)          (None, 4509, 1)      0
__________________________________________________________________________________________________
input_773 (InputLayer)          (None, 4509, 1)      0
__________________________________________________________________________________________________
dense_1267 (Dense)              (None, 4509, 10)     20          input_768[0][0]
__________________________________________________________________________________________________
dense_1268 (Dense)              (None, 4509, 100)    200         input_769[0][0]
__________________________________________________________________________________________________
dense_1269 (Dense)              (None, 4509, 100)    200         input_770[0][0]
__________________________________________________________________________________________________
dense_1270 (Dense)              (None, 4509, 100)    200         input_771[0][0]
__________________________________________________________________________________________________
dense_1271 (Dense)              (None, 4509, 100)    200         input_772[0][0]
__________________________________________________________________________________________________
dense_1272 (Dense)              (None, 4509, 100)    200         input_773[0][0]
__________________________________________________________________________________________________
concatenate_300 (Concatenate)   (None, 4509, 510)    0           dense_1267[0][0]
                                                                 dense_1268[0][0]
                                                                 dense_1269[0][0]
                                                                 dense_1270[0][0]
                                                                 dense_1271[0][0]
                                                                 dense_1272[0][0]
__________________________________________________________________________________________________
lstm_353 (LSTM)                 (None, 4509, 25)     53600       concatenate_300[0][0]
__________________________________________________________________________________________________
dropout_159 (Dropout)           (None, 4509, 25)     0           lstm_353[0][0]
__________________________________________________________________________________________________
dense_1273 (Dense)              (None, 4509, 40)     1040        dropout_159[0][0]
__________________________________________________________________________________________________
dense_1274 (Dense)              (None, 4509, 10)     410         dense_1273[0][0]
__________________________________________________________________________________________________
lstm_354 (LSTM)                 (None, 4509, 25)     3600        dense_1274[0][0]
__________________________________________________________________________________________________
dense_1275 (Dense)              (None, 4509, 10)     260         lstm_354[0][0]
==================================================================================================
Total params: 59,930
Trainable params: 59,930
Non-trainable params: 0
__________________________________________________________________________________________________

# 所有資料一起跑

In [625]:
model.compile(loss='categorical_crossentropy',optimizer="adam",metrics=['acc'])
model.fit([a_train,b_train,c_train,d_train,e_train,f_train], y_train,batch_size=100,epochs=10)

Epoch 1/10
1/1 [==============================] - 35s 35s/step - loss: 1.1295 - acc: 0.3045
Epoch 2/10
1/1 [==============================] - 11s 11s/step - loss: 1.1171 - acc: 0.3140
Epoch 3/10
1/1 [==============================] - 12s 12s/step - loss: 1.0981 - acc: 0.3877
Epoch 4/10
1/1 [==============================] - 12s 12s/step - loss: 1.0916 - acc: 0.3961
Epoch 5/10
1/1 [==============================] - 11s 11s/step - loss: 1.0981 - acc: 0.3961
Epoch 6/10
1/1 [==============================] - 11s 11s/step - loss: 1.1030 - acc: 0.3959
Epoch 7/10
1/1 [==============================] - 12s 12s/step - loss: 1.1004 - acc: 0.3968
Epoch 8/10
1/1 [==============================] - 11s 11s/step - loss: 1.0944 - acc: 0.3968
Epoch 9/10
1/1 [==============================] - 12s 12s/step - loss: 1.0916 - acc: 0.3961
Epoch 10/10
1/1 [==============================] - 11s 11s/step - loss: 1.0905 - acc: 0.3961

# 只用智利大盤和台指來跑

In [621]:
model.compile(loss='categorical_crossentropy',optimizer="adam",metrics=['acc'])
model.fit([a_train,f_train], y_train,batch_size=100,epochs=10)

Epoch 1/10
1/1 [==============================] - 27s 27s/step - loss: 2.3020 - acc: 0.0000e+00
Epoch 2/10
1/1 [==============================] - 8s 8s/step - loss: 2.2982 - acc: 0.0000e+00
Epoch 3/10
1/1 [==============================] - 8s 8s/step - loss: 2.2943 - acc: 4.4356e-04
Epoch 4/10
1/1 [==============================] - 8s 8s/step - loss: 2.2904 - acc: 0.3957
Epoch 5/10
1/1 [==============================] - 8s 8s/step - loss: 2.2865 - acc: 0.3959
Epoch 6/10
1/1 [==============================] - 8s 8s/step - loss: 2.2824 - acc: 0.3961
Epoch 7/10
1/1 [==============================] - 8s 8s/step - loss: 2.2783 - acc: 0.3961
Epoch 8/10
1/1 [==============================] - 8s 8s/step - loss: 2.2740 - acc: 0.3961
Epoch 9/10
1/1 [==============================] - 8s 8s/step - loss: 2.2695 - acc: 0.3961
Epoch 10/10
1/1 [==============================] - 8s 8s/step - loss: 2.2649 - acc: 0.3961